autopep8==1.6.0
cffi==1.14.6
click==8.0.4
greenlet==0.4.13
hpy==0.0.3
importlib-metadata==4.11.3
pycodestyle==2.8.0
pyreqs==0.1.1
readline==6.2.4.1
sh==1.14.2
toml==0.10.2
typing_extensions==4.1.1
zipp==3.7.0
